.videoCard{
    color:#fff;
    width:400px;
    height:340px;
    margin:20px;
    /* cursor: pointer; */
    /* border:1px solid white; */
}

.imgContainer{
    transition: transform 50ms ease-in;
}

.imgContainer :hover{
    cursor: pointer;
    transform: scale(1.04);
}

.imgContainer > img{
    height:200px;
    width:100%;
}

.videoCard > h2{
    margin-left:10px;
    padding-top:10px;
}

.videoCard > p{
    margin-top:6px;
    margin-left:10px;
}
